<footer>
    <div class="logo-footer">
      <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
    </div>
    <div class="footer-desktop">
      <div class="contenedor-logos-footer">
        <a href="">
          <img src="img/logo_yt.png" alt="" />
        </a>
        <a href="">
          <img src="img/logo_tw.png" alt="" />
        </a>
        <a href="">
          <img src="img/logo_fb.png" alt="" />
        </a>
        <a href="">
          <img src="img/logo_wpp.png" alt="" />
        </a>
        <a href="">
          <img src="img/logo_ig.png" alt="" />
        </a>
      </div>
      <ul class="links-footer">
        <li type="none"><a href="">Términos y Condiciones</a></li>
        <li type="none"><a href="">Políticas de Privacidad</a></li>
        <li type="none"><a href="">Aviso Legal</a></li>
      </ul>
    </div>
</footer>