<header>
    <navbar>
      <div class="nav">
        <div class="logo">
          <a href="/"
            ><img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%"
          /></a>
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <ul class="menu">
          <li type="none"><a href="/">Inicio</a></li>
          <li type="none"><a href="/#clientes">Clientes</a></li>
          <li type="none"><a href="/#comofunciona">¿Cómo funciona?</a></li>
          <li type="none">
            <a href="/products">Servicios y Tarifas</a>
          </li>
          <li type="none"><a href="">Contacto</a></li>
        </ul>
        <ul class="register-menu">
          <button><a href="/login">Ingresar</a></button>
          <button><a href="/register">Registrarme</a></button>
          <button>
            <a href="/productCart"
              ><i class="fa-sharp fa-solid fa-cart-shopping"></i
            ></a>
          </button>
        </ul>
      </div>
    </navbar>
</header>