<header>
  <navbar>
    <div class="nav">
      <div class="logo-burger">
        <div class="logo">
          <a href="/"><img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" /></a>
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div>
      <ul class="menu">
        <li type="none"><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li type="none"><a href="/#clientes">Clientes</a></li>
        <li type="none"><a href="/#comofunciona">¿Cómo funciona?</a></li>
        <li type="none">
          <a href="/products">Servicios y Tarifas</a>
        </li>
        <li type="none"><a href="/contact">Contacto</a></li>
      </ul>
    </div>

      <ul class="register-menu">
        <% if(locals.email) { %>
          <!--Aquí dispongo  el acceso sólo al o los usuarios administradores-->
          <% if(locals.email.id_rol==1) { %>
            <button><a href="/products">Administrar <i class="fa-solid fa-gear"></i></a></button>
            <%}%>
              <button>
                <a href="/logout">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
              </button>
              <button>
                <a href="/productCart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </button>
              <div class="name-header">
                <h2>Hola <%= locals.email.first_name %>
                </h2>
              </div>
              <div class="logo">
                <img class="avatar-user" src="/img/avatars/<%= locals.email.image%>" alt="Imagen Avatar" width="100%" />
              </div>
              <% } else { %>

                <!--Cuando no estoy logueado debería ver esto-->
                <button><a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></button>
                <button><a href="/register">Registrarme <i class="fa-regular fa-address-card"></i></a></button>

                <%}%>
                  <!-- 
          <button><a href="/login">Ingresar</a></button>
          <button><a href="/register">Registrarme</a></button>
          <button><a href="/logout">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon></a></button>
          <button>
            <a href="/productCart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </button>
          -->
      </ul>
    </div>
  </navbar>
  <script src="/js/header.js"></script>
</header>