<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Fonts Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Iconos -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Estilos -->
    <link href="/css/styles.css" rel="stylesheet" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullSix</title>
  </head>
  <body>
    <header>
      <!-- <nav><input placeHolder="buscar productos,marcas" type="nav"></nav> -->
      <navbar>
        <div class="nav">
          <div class="logo">
            <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
          </div>
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
          <ul class="menu">
            <li type="none"><a href="">Inicio</a></li>
            <li type="none"><a href="">Clientes</a></li>
            <li type="none"><a href="">¿Cómo funciona?</a></li>
            <li type="none"><a href="">Servicios y Tarifas</a></li>
            <li type="none"><a href="">Contacto</a></li>
          </ul>
          <ul class="register-menu">
            <li type="none"><a href="/login">Ingresar</a></li>
            <li type="none"><a href="/register">Registrarme</a></li>
            <li type="none">
              <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            </li>
          </ul>
        </div>
      </navbar>
    </header>
    <main>
      <section>
        <article>
          <div>
            <img src="/img/FULL SIX 6.png" alt="Logo de la pagina" />
            <p>TRABAJA CON NOSOTROS Y</p>
            <p>ENTRENA TU MENTE</p>
          </div>
          <div class="">
            <img src="/img/Home.png" alt="Gente en terapia" />
          </div>
        </article>
      </section>
      <section>
        <h2>¿Quíenes son nuestros clientes?</h2>
        <article>
          <img src="/img/Deportistas.png" alt="deportistas" />
          <div>
            <p>Deportistas</p>
          </div>
        </article>
        <article>
          <img src="/img/Entrenadores.png" alt="Entrenadores" />
          <div>
            <p>Entrenadores</p>
          </div>
        </article>
        <article>
          <img src="/img/Padres.png" alt="Padres de deportistas" />
          <div>
            <p>Padres y madres de deportistas</p>
          </div>
        </article>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/6cd48854d2.js"
      crossorigin="anonymous"
    ></script>
    <footer>
      <div class="logo-footer">
        <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
      </div>
    </footer>
  </body>
</html>
