<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>


<body>


  <header>
    <!-- <nav><input placeHolder="buscar productos,marcas" type="nav"></nav> -->
    <navbar>
      <div class="nav">
        <div class="logo">
          <a href="/"><img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" /></a>
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <ul class="menu">
          <li type="none"><a href="/">Inicio</a></li>
          <li type="none"><a href="/#clientes">Clientes</a></li>
          <li type="none"><a href="/#comofunciona">¿Cómo funciona?</a></li>
          <li type="none"><a href="/productDetail">Servicios y Tarifas</a></li>
          <li type="none"><a href="">Contacto</a></li>
        </ul>
        <ul class="register-menu">
          <button><a href="/login">Ingresar</a></button>
          <button><a href="/register">Registrarme</a></button>
          <button>
            <a href="/productCart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a></button>
        </ul>
      </div>
    </navbar>
  </header>
  <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

  <main>
    <div class="form-contenedor">
      <form action="/login" method="POST">
        <h4 class="titulo-ingresa">Ingresá</h4>
        <div class="form-ingresa">
          <input type="email" name="email" placeholder="E-mail" required>
          <input type="password" name="contraseña" placeholder="Contraseña" required>
          <div class="contenedor-recordarme">
            <input class="checkbox-recordarme" type="checkbox" name="recordarme" value="recordarme">
            <div class="recordarme">Recordarme</div></input>
          </div>
          <div class="form-leyenda">
            <label>¿Todavía no tenés cuenta? <a href="/register">Registrarme |</a><a href="/register"> Olvidé mi
                contraseña</a></label>
          </div>
          <div class="contenedor-boton-ingresa">
            <button class="boton-ingresa" type="submit">Ingresar</button>
          </div>
      </form>
    </div>

  </main>

  <footer>
    <div class="logo-footer">
      <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
    </div>
    <div class="footer-desktop">
      <div class="contenedor-logos-footer">
        <a href="">
          <img src="img/logo_yt.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_tw.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_fb.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_wpp.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_ig.png" alt="">
        </a>

      </div>
      <ul class="links-footer">
        <li type="none"><a href="">Términos y Condiciones</a></li>
        <li type="none"><a href="">Políticas de Privacidad</a></li>
        <li type="none"><a href="">Aviso Legal</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>