<!DOCTYPE html>
<html lang="en">
  <!-- HEAD COMPARTIDO -->
  <%- include("./partials/head") %>

  <body>
    <!-- HEADER COMPARTIDO -->
    <%- include("./partials/header") %>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    
    <main class="error">
    <div class="error-img"><img src="/img/404-image.png" alt=""></div>
      <h1>404</h1>
      <h2>Page not found</h2>
      <h3>The page you are looking for doesn´t exist or another error occurred.</h3>
      <h3>Go back, or choose a new direction</h3>

    </main>

     <!-- FOOTER COMPARTIDO -->
  <%- include("./partials/footer") %>

  </body>
</html>
