<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Fonts Family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Iconos -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

  <!-- Estilos -->
  <link href="/css/styles.css" rel="stylesheet">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FullSix</title>
</head>

<body>


  <header>
    <!-- <nav><input placeHolder="buscar productos,marcas" type="nav"></nav> -->
    <navbar>
      <div class="nav">
        <div class="logo">
          <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <ul class="menu">
          <li type="none"><a href="">Inicio</a></li>
          <li type="none"><a href="">Clientes</a></li>
          <li type="none"><a href="">¿Cómo funciona?</a></li>
          <li type="none"><a href="">Servicios y Tarifas</a></li>
          <li type="none"><a href="">Contacto</a></li>
        </ul>
        <ul class="register-menu">
          <li type="none"><a href="/login">Ingresar</a></li>
          <li type="none"><a href="/register">Registrarme</a></li>
          <li type="none">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
      </div>
    </navbar>
  </header>
  <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

  <h2 class="titulo-productDetail">Nuestros planes</h2>
  <main class="caja-main">
    <!-- Plan Inicial -->
    <article class="producto">
      <div class="inicial">
        <div class="precio-producto">
          <p>ARS 1500</p>
        </div>
        <div class="titulo-producto">
          <h3>Plan Inicial</h3>
        </div>
        <div class="linea-blanca"></div>
        <div class="duracion">
          <p>Duracion: 60-90 minutos</p>
        </div>
        <div class="items-producto">
          <ul>
            <li type="none">Entrevista personal</li>
            <li type="none">Análisis de situación</li>
            <li type="none">Establecimiento de objetivos</li>
            <li type="none">Establecimiento de pautas de trabajo y comunicación</li>
          </ul>
        </div>
        <div class="boton-producto">
          <button>Contratar</button>
        </div>
      </div>
    </article>
    <!-- Plan Mensual -->
    <article class="producto">
      <div class="mensual">
        <div class="precio-producto">
          <p>ARS 3000</p>
        </div>
        <div class="titulo-producto">
          <h3>Plan Mensual</h3>
        </div>
        <div class="duracion">
          <p>Duracion: 1 mes</p>
        </div>
        <div class="items-producto">
          <ul>
            <li type="none">Planificación del entrenamiento mental</li>
            <li type="none">Seguimiento semanal del proceso a través de correo electrónico</li>
            <li type="none">Seguimiento semanal del proceso a través de videollamada (1 vez a la semana)</li>
            <li type="none">Evaluación del proceso en entrenamientos y competición</li>
            <li type="none">Trabajo en coordinación con el resto del equipo técnico</li>
          </ul>
        </div>
        <div class="boton-producto">
          <button>Contratar</button>
        </div>
      </div>
    </article>
    <!-- Plan Semestral -->
    <article class="producto">
      <div class="semestral">
        <div class="precio-producto">
          <p>ARS 15000</p>
        </div>
        <div class="titulo-producto">
          <h3>Plan Semestral</h3>
        </div>
        <div class="duracion">
          <p>Duracion: 6 meses</p>
        </div>
        <div class="items-producto">
          <ul>
            <li type="none">Planificación del entrenamiento mental</li>
            <li type="none">Seguimiento semanal del proceso a través de correo electrónico</li>
            <li type="none">Seguimiento semanal del proceso a través de videollamada (1 vez a la semana)</li>
            <li type="none">Evaluación del proceso en entrenamientos y competición</li>
            <li type="none">Trabajo en coordinación con el resto del equipo técnico</li>
          </ul>
        </div>
        <div class="boton-producto">
          <button>Contratar</button>
        </div>
      </div>
    </article>

  </main>

  <footer>
    <div class="logo-footer">
      <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
    </div>
    <div class="footer-desktop">
      <div class="contenedor-logos-footer">
        <a href="">
          <img src="img/logo_yt.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_tw.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_fb.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_wpp.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_ig.png" alt="">
        </a>

      </div>
      <ul class="links-footer">
        <li type="none"><a href="">Términos y Condiciones</a></li>
        <li type="none"><a href="">Políticas de Privacidad</a></li>
        <li type="none"><a href="">Aviso Legal</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>