<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Fonts Family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Iconos -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

  <!-- Estilos -->
  <link href="/css/styles.css" rel="stylesheet">

 <!-- FAVICON -->
 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
 <link rel="icon" href="img/favicon.ico" type="image/x-icon">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FullSix</title>
</head>

<body>


  <header>
    <!-- <nav><input placeHolder="buscar productos,marcas" type="nav"></nav> -->
    <navbar>
      <div class="nav">
        <div class="logo">
          <a href="/"><img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" /></a>
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <ul class="menu">
          <li type="none"><a href="/">Inicio</a></li>
          <li type="none"><a href="/#clientes">Clientes</a></li>
          <li type="none"><a href="/#comofunciona">¿Cómo funciona?</a></li>
          <li type="none"><a href="/productDetail">Servicios y Tarifas</a></li>
          <li type="none"><a href="">Contacto</a></li>
        </ul>
        <ul class="register-menu">
          <button><a href="/login">Ingresar</a></button>
          <button><a href="/register">Registrarme</a></button>
          <button>
            <a href="/productCart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
        </ul>
      </div>
    </navbar>
  </header>
  <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>


  <div class="contenedor">

    <div class="top">

      <h3>Carrito de compras</h3>

    </div>

    <div class="categorias">

      <strong>Producto</strong>
      <strong>Cantidad</strong>
      <strong>Precio</strong>
      <strong>Eliminar</strong>

    </div>

    <hr>

    <div class="categorias">
      <p>Plan mensual</p>
      <input class="cantidad" type="number">
      <p>$15.125</p>
      <div class="x-borrar">
        <button class="buttonClass" type="reset">X</button>
        </div>
    </div>

    <div class="cupon">
      <input type="text" placeholder="Código de cupón">
      <button>Aplicar Cupón</button>
    </div>

    <div class="bottom">
      <h3 class="titulo-bottom">Total del carrito </h3>
    </div>

    <div class="contenedor-detalle">
      <div class="detalle-carrito">
        <strong>Subtotal</strong>
        <strong>IVA</strong>
        <strong>Total</strong>
      </div>

      <div class="importes-carrito">
        <p>$12.500</p>
        <p>$2.625</p>
        <p>$15.125</p>
      </div>
    </div>

    <div class="end">

      <button>Finalizar Compra</button>

    </div>
  </div>


  </main>

  <footer>
    <div class="logo-footer">
      <img src="/img/FULL SIX 6.png" alt="Logo FullSix" width="100%" />
    </div>
    <div class="footer-desktop">
      <div class="contenedor-logos-footer">
        <a href="">
          <img src="img/logo_yt.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_tw.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_fb.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_wpp.png" alt="">
        </a>
        <a href="">
          <img src="img/logo_ig.png" alt="">
        </a>

      </div>
      <ul class="links-footer">
        <li type="none"><a href="">Términos y Condiciones</a></li>
        <li type="none"><a href="">Políticas de Privacidad</a></li>
        <li type="none"><a href="">Aviso Legal</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>