*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.nav{
display: flex;
background-color: #C5DAC1;
padding-top: 10px;
padding-bottom: 10px;
justify-content: space-between;
text-align: center;

}

.menus{
    display: none;
}

.menu{
    display: none;
    justify-content: space-between;
}

.register-menu{
    display: none;
}
.register-menu li a{
    background-color: white;
    border-radius: 7px;
    padding: 10px;
}

.burger-menu {
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

.fa-bars {
    font-size: 2em;
    padding: 1px;
    border-radius: 20%;
}

.logo {
   height: 45px;
   width: 45px;
   margin-left: 10px;
}

a{
    text-decoration: none;
    color: black; 
}


li {
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #C5DAC1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    align-self: center;
}

.contenedor-logos-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.contenedor-logos-footer a img{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-around;
}

.links-footer{
    text-align: center;
    font-weight: bold;
    padding:  15px;
    font-size: 12px;
}
/*  Escritorio */
@media(min-width: 768px){
    .menu{
        display: flex;
        justify-content: space-between;
    }
    
    .register-menu{
        display: flex;
    }
    .burger-menu {
        display:none;
    }

    .nav {
        justify-content: space-around;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-footer{
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 60px;
        width: 60px;
    }
    
    .contenedor-logos-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    .contenedor-logos-footer a img{
        height: 40px;
        width: 40px;
    }
    
    .links-footer{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: 12px;
        padding: 0%;
    }
}