<!DOCTYPE html>
<html lang="en">

  <!-- HEAD COMPARTIDO -->
  <%- include("../partials/head") %>

  <body>
    <!-- HEADER COMPARTIDO -->
   <%- include("../partials/header") %>

  <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

  <main>

    <div class="form-load">
      <form action="/login" method="POST">
        <h4 class="titulo-registrate">Edición de Plan</h4>
            <div class="form-ingresa">
                
                <label class="label-form-load" for="nombre-producto">Nombre del plan</label>
                <input class="input-form-load" type="text" name="nombre-producto" id="nombre-producto" placeholder="Nombre" required minlength="5" maxlength="25"
                pattern="[A-Za-z]+" title="Solo letras">
                
                <label class="label-form-load" for="descripcion-producto">Descripcion del plan</label>
                <textarea class="input-form-load" name="descripcion-producto" id="descripcion-producto" placeholder="Descripción" required></textarea>

                <label class="label-form-load" for="duracion-producto">Duración del plan</label>
                <input class="input-form-load" type="text" name="duracion-producto" id="duracion-producto" placeholder="Duración" required minlength="5" maxlength="25"
                pattern="[A-Za-z0-9]+">
                
                <label class="label-form-load" for="foto-producto">Imagen del plan</label>
                <input class="input-form-load" type="file" name="foto-producto" accept=".jpg">

                
                <label class="label-form-load" for="categoria-producto">Categoria del plan</label>
                <br></br>
                <div class="contenedor-categoria">
                <input  class="input-form-load" type="radio" name="categoria-producto" id="categoria-producto"  value="deportista">Deportistas
                <input  class="input-form-load" type="radio" name="categoria-producto" id="categoria-producto"  value="entrenador">Entrenadores
                <input  class="input-form-load" type="radio" name="categoria-producto" id="categoria-producto"  value="familia">Familiares de Deportistas
                </div>
                <br></br>
                <label class="label-form-load" for="precio-producto">Precio del plan</label>
                <input  class="input-form-load" type="text" name="precio-producto" id="precio-producto" placeholder="Precio" required minlength="1" maxlength="15"
                pattern="[A-Za-z0-9]+" title="Solo números">

                <div class="contenedor-boton-carga">
                    <button class="boton-carga" type="submit">Actualizar</button>
                </div>
            </div>
      </form>
    </div>

  </main>

  <!-- FOOTER COMPARTIDO -->
  <%- include("../partials/footer") %>
  
</body>

</html>